@use 'option';

/* 共通 */
$main-color: #333333; //全体色
$font-family: 'Noto Sans JP', Noto Sans CJK JP, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', YuGothic, Yu Gothic, 'メイリオ', Meiryo, 'MS ゴシック', sans-serif; //フォント
$letterspacing: 26; //文字間隔
$lineheight: 28px; //文字の高さ
$fontsize: 16px;

/* 共通 */
html {
	margin: 0 !important;
}

#wpadminbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
div {
	color: $main-color;
	letter-spacing: $letterspacing;
	line-height: $lineheight;
	font-family: $font-family;
	font-size: $fontsize;
	letter-spacing: 1.8px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	display: block;

	&:hover {
		opacity: 0.8;
		transition: 0.3s;
		text-decoration: none;
	}
}

.wrap {
	max-width: 80%;
	/* full-width 1400pxに対して、1000px maxを想定 */
	margin: 0 auto;

	@include option.tab {
		max-width: 100%;
		padding: 0 3%;
	}
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

div {
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		vertical-align: top;
	}
}

/* header */
.header-group {
	z-index: 1;
	width: 100%;

	.header-wrap {
		justify-content: space-between;
		z-index: 6;

		@include option.sp {
			padding: 0;
			align-items: flex-start;
			z-index: 7;
		}

		.header-logo {
			width: 170px;

			@include option.sp {
				width: 80px;
			}

			a {
				font-size: 24px;

				span {
					display: block;
					font-size: 12px;
				}
			}
		}
	}

	.toggle_btn {
		@include option.pad {
			display: none;
		}

		.sns-icon {
			bottom: 90px;
			left: 50%;
			transform: translateX(-50%);
			height: 40px;

			&:last-child {
				bottom: 30px;
			}

			a {
				height: 100%;

				img {
					width: auto;
				}
			}
		}
	}

	.sp {
		display: none;
		z-index: 4;
		align-items: center;
		right: 0;

		@include option.pad {
			display: flex;
			align-items: center;

			.toggle_btn {
				width: 60px;
				height: 60px;
				background: rgb(104, 182, 37);
				background: -moz-linear-gradient(left, rgba(104, 182, 37, 1) 0%, rgba(154, 214, 98, 1) 100%);
				background: -webkit-linear-gradient(left, rgba(104, 182, 37, 1) 0%, rgba(154, 214, 98, 1) 100%);
				background: linear-gradient(to right, rgba(104, 182, 37, 1) 0%, rgba(154, 214, 98, 1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68b625', endColorstr='#9ad662', GradientType=1);
				top: 50%;
				right: 0;
				transform: none;
				display: block;

				.toggle_line {
					span {
						background-color: #fff;
						transform: translate(-50%, -50%) rotate(0deg);

						&:nth-child(1) {
							left: 50%;
							top: 45%;
						}

						&:nth-child(2) {
							left: 50%;
							top: 55%;
						}
					}
				}

				&.open {
					.toggle_line {
						span {
							&:nth-child(1) {
								top: 50%;
								transform: translate(-50%, -50%) rotate(315deg);
							}

							&:nth-child(2) {
								top: 50%;
								transform: translate(-50%, -50%) rotate(45deg);
							}
						}
					}
				}
			}

			.icon-list {
				align-items: center;
				margin-right: 10px;

				.sns-icon {
					transform: none;
					height: 30px;
					margin-right: 10px;

					a {
						height: 80%;

						img {
							width: auto;
						}
					}
				}
			}
		}
	}
}

/*ハンバーガーメニュー*/
nav {
	display: block;
	position: fixed;
	top: 0;
	right: -100%;
	bottom: 0;
	width: 360px;
	background-color: rgba(255, 255, 255, 0.85);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: all 0.5s;
	z-index: 6;
	opacity: 0;

	.inner {
		padding: 50px 0;
		box-sizing: border-box;

		@include option.pad {
			padding: 150px 0;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				position: relative;
				margin: 0;
				padding-left: 30px;
				border-bottom: 1px solid #9ad662;

				@include option.pad {
					padding-left: 30px;
				}

				&:first-child_ {
					border-top: 1px solid #9ad662;
				}

				a {
					display: block;
					color: #333;
					font-size: 14px;
					padding: 1em;
					text-decoration: none;
					transition-duration: 0.2s;
					position: relative;

					&:hover {
						background: #e4e4e4;
					}

					&:after {
						content: '';
						display: inline-block;
						position: absolute;
						top: 50%;
						right: 25px;
						transform: translateY(-50%);
						width: 5px;
						height: 10px;
						background-size: contain;
						background-repeat: no-repeat;
						background-image: url(/wp-content/uploads/2023/04/arrow.png);
					}
				}
			}
		}
	}
}

.toggle_btn {
	width: 70px;
	height: 100%;
	background-color: #fff;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	transition: all 0.5s;
	cursor: pointer;
	z-index: 7;

	.toggle_line {
		width: 100%;
		height: 100%;

		span {
			display: block;
			position: absolute;
			top: 50%;
			width: 30px;
			height: 2px;
			transform: translate(-50%, -50%) rotate(90deg);
			background-color: #333;
			border-radius: 4px;
			transition: all 0.5s;

			&:nth-child(1) {
				left: 45%;
			}

			&:nth-child(2) {
				left: 55%;
			}
		}
	}
}

.toggle_btn {
	&.open {
		span {
			&:nth-child(1) {
				transform: translate(-50%, -50%) rotate(-315deg);
				left: 50%;
			}

			&:nth-child(2) {
				transform: translate(-50%, -50%) rotate(315deg);
				left: 50%;
			}
		}
	}
}

.open {
	nav {
		right: 70px;
		opacity: 1;

		@include option.pad {
			right: 0;
		}
	}

	#mask {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.8;
		z-index: 2;
		cursor: pointer;
	}
}

#mask {
	display: none;
	transition: all 0.5s;
}

/* top scroll */
.top_jump {
	visibility: hidden;
	width: 60px;
	height: 60px;
	background-color: #666666;
	position: fixed;
	z-index: 999;
	bottom: 0;
	right: 0;
	transition: 0.6s;
	opacity: 0;

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: auto;
		content: '';
		vertical-align: middle;
		width: 8px;
		height: 8px;
		border-top: 2px solid #dddddd;
		border-right: 2px solid #dddddd;
		-webkit-transform: translate(-50%, -50%) rotate(90deg);
		transform: translate(-50%, -15%) rotate(-45deg);
	}
}

.view {
	visibility: visible;
	opacity: 1;
}

.top_jump a {
	display: block;
	height: 100%;
}

/* header */

/* footer */
.footer {
	background-color: #2a2a2a;
	background-size: 7px 7px;
	background-image: radial-gradient(#888 5%, transparent 5%);
	padding: 30px 0 20px 0;
	box-sizing: border-box;

	.footer-menu {
		max-width: 1100px;
		margin: 0 auto;
		margin-bottom: 100px;

		@include option.pad {
			max-width: 90%;
		}

		.logo {
			height: 135px;
			margin-right: 60px;

			img {
				width: auto;
			}
		}

		ul {
			margin-top: 40px;

			li {
				margin-bottom: 15px;
				color: #fff;

				@include option.sp {
					margin-bottom: 5px;
				}
			}
		}
	}

	.copy_right {
		max-width: 1100px;
		margin: 0 auto;
		text-align: right;
		color: #a5a5a5;
		@include option.sp {
			text-align: center;
		}
	}
}

@keyframes bottom {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes leftmove {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(120%);
	}
}
